# dotfiles
.idea/
.cache/
.backup/
.virtual_documents/
.ipynb_checkpoints/
__pycache__/

runs/
reference_images/champions/*.png
reference_images/champion_names.csv
dataset/
models/
tmp_tests/

!test_images/set1
test_images/*



# C++ and C
result
build/
compile_commands.json
**/main
*.o
cpp/main
cpp/main.o
cpp/avatar.png

CMakeCache.txt
CMakeFiles/
